In [1]:
# Introduction to Variables in Python

In [2]:
x=5
y=3

In [3]:
x+y

8

In [4]:
# Rules for declaring variables in Python

In [5]:
#Rule1: No namespaces while declaring the variable in Python.

In [6]:
first name="Roshaz"

SyntaxError: invalid syntax (<ipython-input-6-851814dc9cf7>, line 1)

In [ ]:
firstname="Roshaz"

In [ ]:
first_name="Roshaz"

In [ ]:
#  Rule2: Variable name should not start with a number

In [ ]:
1name="Eskay"

In [ ]:
name1="Eskay"

In [7]:
#Rule3:Variable name should not contain any special character.

In [8]:
name@="Sita"

NameError: name 'name' is not defined

In [12]:
# Introduction to datatypes in Python.

In [14]:
#1. Strings
#2. Numbers --> Integers and floats
#3. List
#4. Tuple
#5. Dictionaries

In [15]:
# Introduction to classification of datatypes
# 2 broad categories
# Mutable datatypes- which we can edit and alter
# Immutable datatypes- Which we cannot edit or alter

In [16]:
# Introduction to String datatypes

In [17]:
#String: String is nothing but a series of charaters enclosed in quotes
#  Classified as immutable

In [18]:
# Three approaches to define string
#1. Single quote
#2. Double quote
#3. Triple quote

In [19]:
name = 'Muskan'    # Single quote

In [20]:
print(name)

Muskan

In [21]:
name1="Muskan"    # Double quotes

In [22]:
print(name1)

Muskan

In [28]:
name2='''Muskan'''     # Triple single quotes

In [29]:
print(name2)

Muskan

In [30]:
name3="""Muskan"""     # Triple double quotes

In [31]:
print(name3)

Muskan

In [ ]:
# Python is a case sensitive language